{{>header}}
    <title>uxuryfurniture | Gallery</title>
{{>navbar}} 
<div class="container-fluid mt-2">
    <h5 class="background text-light text-center w-100 p-2 ">Gallery Section</h5>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p1.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p2.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p3.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p4.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p5.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p6.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p7.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p8.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p9.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p10.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p1.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p2.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p3.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p4.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p5.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p6.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p7.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p8.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p9.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p10.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p1.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p2.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p3.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p4.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p5.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p6.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p7.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p8.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p9.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p10.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p1.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p2.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p3.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p4.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p5.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p6.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p7.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p8.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p9.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <img src="./images/p10.jpg" class="w-100 rounded" height="400px" alt="">
        </div>
    </div>
</div>
{{>footer}}